
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Contacts</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
  <h1>Your Contacts</h1>
  <a href="/users/<%= user._id %>/contacts/new">Add a New Contact</a>
  <ul>
    <% contacts.forEach(contact => { %>
        <a href="/users/<%= user._id %>/contacts/<%= contact._id %>">
            <li><%= contact.firstName %> <%= contact.lastName %></li>
        </a>
    <% }) %>
  </ul>
</body>
</html>