<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Details</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= contact.firstName %> <%= contact.lastName %></h1>
    <p>Notes: <%= contact.notes %></p>
    <p>Memories: <%= contact.memories %></p>
    <p>Date of Last Contact: <%= contact.dateOfLastContact.toDateString() %></p>
    <p>Association: <%= contact.association %></p>
    
    <a href="/users/<%= user._id %>/contacts/<%= contact._id %>/edit">Edit Contact</a>
    
    <form action="/users/<%= user._id %>/contacts/<%= contact._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete Contact</button>
    </form>
</body>
</html>
